@import "variables";
@import "mixins";

h1 {
	color: @textColorSecondary;
}

h2, h3, h4, h5, h6 {
	color: @textColorPrimary;
}

a {
	color: @textColorTertiary;

	&:hover {
		color: @darkOrange;
		text-decoration: underline;
	}
}

#header {
  background-color: @bgColorPrimary;
}

#navigation {
  background-color: @bgColorPrimary;
  border-bottom: 4px solid @darkOrange;
}

#content-head {
  background-color: @bgColorPrimary;

	// If we want space on each side of page headers
	width: 90%!important;
	margin: auto;
	border-radius: 6px;
	padding: .66em 0!important;
}

#logo img {
  width: 50%;
  height: auto;
}

#primarynav {
	a {
		text-decoration: none;
		text-transform: capitalize;
	}

  li > a {
		font-size: 13px;
		
    .transition(@textColorTertiary);
  }

	li > a:hover {
		.transition(@textColorSecondary);
	}

  li.here > a {
    color: white;
    border-bottom: 2px solid white!important;
  }
}



@import "thrive";
